@import "tailwindcss";

/* 1. Carga de la Fuente Inter */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

/* 2. Definición de Variables CSS para Temas */

/* Modo Claro (por defecto) */
:root {
  --color-bg-primary: #ffffff;
  --color-text-primary: #1f2937; /* Gray-800 */
  --color-accent: #10b981; /* Emerald-500 */
  --color-input-bg: #f9fafb; /* Gray-50 */
  --color-border: #e5e7eb; /* Gray-200 */
}

/* Modo Oscuro */
.dark {
  --color-bg-primary: #111827; /* Gray-900 */
  --color-text-primary: #f9fafb; /* Gray-50 */
  --color-accent: #34d399; /* Emerald-400 */
  --color-input-bg: #1f2937; /* Gray-800 */
  --color-border: #374151; /* Gray-700 */
}

/* 3. Estilos Base */
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos específicos para el botón del tema */
#theme-toggle svg {
  transition: transform 0.3s ease;
}
#theme-toggle:hover svg {
  transform: scale(1.1);
}
